body{
    background: linear-gradient(to top, #ffffff 0%, #9999ff 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 275px;
    width: 775px;
    text-align: center;
    border-radius: 5%;
}

#box {
    height: 150px;
    
    
}
input {
    height: 30px;
    width: 150px;
    
}












