body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 275px;
    width: 775px;
    text-align: center;
    border-radius: 5%;
}

#box {
    height: 150px;
    
    
}
input {
    height: 30px;
    width: 150px;
    
}
input[type="submit" i] {
    width: 80px;
    background-color: gainsboro;
    border-radius: 5px;
    border: 1px solid black; 
    box-sizing: border-box;
    cursor: pointer;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    
}
td{
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid blue;
}

tr:hover{
    display: none;
}

#toggleBtn{
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
}





